@font-face {
    font-family: 'SST';
    src: url('SST/SST\ Light.ttf');
}

* {
    outline: none;
}

html {
	background: url('tokyo-bg.jpg') no-repeat;
	background-size: 100%;
	font-family: 'SST';
	font-size: 12px;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: white;
}


.smalllogo {
    height: 86px;
    border-radius: 5px;
}

.linksdiv {
    border-radius: 5px;
    position: absolute;
    margin: auto;
    height: 86px;
    width: 298px;
    background: #fff;
}

#logo {
	position: sticky;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 350;
	height: 386;
    width: 298;
    border-radius: 8px;
    object-fit: cover;
}

#parent {
    width: 648;
    height: 418;
    position: absolute;
    margin: auto;
    top: 0; bottom: 100;
    right: 0; left: 0;
}

#playstation {
    top: 0; bottom: 332;
    right: 0; left: 350;
}


#adobe {
    top: 0; bottom: 132;
    right: 0; left: 350;
}

#other {
    top: 68; bottom: 0;
    right: 0; left: 350;
}


#music {
    height: 86px;
    width: 298px;
    top: 268; bottom: 0;
    right: 0; left: 350;
}

.linksbox {
    position: absolute;
    height: 80px;
    width: 207px;
    top: 3; bottom: 0;
    right: 2; left: 88;
    background: #404040;
    text-align: center;
    vertical-align: center;
    border: 10px;
}


li {
    display: inline;
    padding-right: 16;
    line-height: 80px;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding-left: 6;
}


